@page "/registerExpense"

<PageTitle>Registrar gasto</PageTitle>

<div id="header"></div>
<div class="container">
    <h1>Informacion del gasto</h1>

    <EditForm Model="@ExpenseModel" OnValidSubmit="@HandleValidSubmit" class="shadow p-3 mb-5 rounded">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="Type">Tipo de gasto</label>
        <InputSelect id="Type" @bind-Value="ExpenseModel.Type" class="form-control">
            <option value="Personal">Personal</option>
            <option value="Business">Trabajo</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="Importance">Necesidad</label>
        <InputSelect id="Importance" @bind-Value="ExpenseModel.Importance" class="form-control">
            <option value="Essential">Esensial</option>
            <option value="NonEssential">No esensial</option>
            <option value="Luxury">Lujo</option>
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="Category">Categoria</label>
        <InputText id="Category" @bind-Value="ExpenseModel.Category" class="form-control" />
    </div>

    <div class="form-group">
        <label for="AmountSpent">Cantidad gastada</label>
        <InputNumber id="AmountSpent" min="0.1" step="0.1" @bind-Value="ExpenseModel.AmountSpent" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Date">Fecha</label>
        <InputDate id="Date" @bind-Value="ExpenseModel.Date" class="form-control" />

        <label for="Time">Hora</label>
        <InputText id="Time" @bind-Value="time" @onchange="UpdateTime" class="form-control" />
    </div>

    <div class="form-group">
            <label for="Description">Descripcion</label>
            <InputTextArea id="Description" @bind-Value="ExpenseModel.Description" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
</div>

@code {
    private Expense ExpenseModel = new Expense();
    private string time = DateTime.Now.ToString("HH:mm");

    private void UpdateTime(ChangeEventArgs e)
    {
        if (TimeSpan.TryParse(e.Value!.ToString(), out TimeSpan timeSpan))
            ExpenseModel.Date = ExpenseModel.Date.Date + timeSpan;
    }

    private void HandleValidSubmit()
    {
        
    }

    public class Expense
    {
        public string Type { get; set; }
        public string Importance { get; set; }
        [EditorRequired]
        public string Category { get; set; }
        public decimal AmountSpent { get; set; } = 0.1M;
        public DateTime Date { get; set; } = DateTime.Now;
        public string Description { get; set; }
    }
}

